:root {
    --green-darker: #094329;
    --green-medium: #467D32;
    --green-brighter: #74B959;

}

#root > .container{
    margin-top: 80px;
}

ul.pagination.react-bootstrap-table-page-btns-ul {
    float: right !important;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.card {
    margin-top: 1em;
    margin-bottom: 1em;
}

/*
################################################################################
                            Products Page
################################################################################
*/
#productsPage input {
    margin-bottom: 1em;
}


#productsPage .card-header{
    color: white;
}

#productsPage .card:nth-child(2) > .card-header{
    background-color: var(--green-darker);
}

#productsPage .card:nth-child(3) > .card-header{
    background-color: var(--green-medium);
}

#productsPage .card:nth-child(4) > .card-header{
    background-color: var(--green-brighter);
}

#productsPage .react-bootstrap-table td {
    cursor: pointer;
}


/*
################################################################################
                            Product Page
################################################################################
*/

#productPage > .card > .card-header{
    background-color: black;
    color: white;
}

#productPage .product-infos span:nth-child(1) > .card-header{
    background-color: var(--green-darker);
    color: white;
}

#productPage .product-infos span:nth-child(2) > .card-header{
    background-color: var(--green-medium);
    color: white;
}

#productPage .product-infos span:nth-child(3) > .card-header{
    background-color: var(--green-brighter);
    color: white;
}

.prod-overview > .card-header{
    text-align: center;
    color: white;
    background: green;
    font-size: 18px;
}

.prod-overview > .card-body > div{
    align-items: center;
    margin-left: auto;
    width: 108%;
    height: 400px;
}

/*
################################################################################
                              Sales Page
################################################################################
*/

#salesPage .react-bootstrap-table td:first-child {
    cursor: pointer;
}

#salesPage .card:nth-child(2) > .card-header{
    background-color: var(--green-darker);
    color: white;
    position: relative;
    height: 56px;
}

#salesPage .card:nth-child(2) > .card-header h6{
    position: absolute;
    font-size: 22px;
    left: 50%;
    top: 13px;
    transform: translateX(-50%);
}


#salesPage .card:nth-child(2) > .card-header .salesSelect{
    width: 100px;
    color: black;
    position: absolute;
    right: 7px;
    top: 7px;
}

#salesPage .card:nth-child(3) > .card-header{
    background-color: var(--green-medium);
    color: white;
}

#salesPage .card:nth-child(4) > .card-header{
    background-color: var(--green-brighter);
    color: white;
}


/*
################################################################################
                              Sale Page
################################################################################
*/
.small-gap {
    width: 48% !important;
}

#salePage .react-bootstrap-table td:nth-child(1),
#salePage .react-bootstrap-table td:nth-child(2) {
    cursor: pointer;
}

#purchasesPage .react-bootstrap-table td:nth-child(1) {
    cursor: pointer;
}

#financialPage .details {
    width: 18%;
}

/*
################################################################################
                              Purchases Page
################################################################################
*/
#purchasePage > .card > .card-header {
    background-color: black;
    color: white;
}

#purchasePage > .card > .card-body .card:nth-child(1) > .card-header{
    background-color: var(--green-darker);
    color: white;
}

#purchasePage > .card > .card-body .card:nth-child(1) > .card-body{
    margin: auto;
}

#purchasePage > .card > .card-body .card:nth-child(2) > .card-header{
    background-color: var(--green-medium);
    color: white;
}

#purchasePage > .card > .card-body .card:nth-child(3) > .card-header{
    background-color: var(--green-brighter);
    color: white;
}

.purchaseOverview > h5{
    background-color: green !important;
    color: white;
}

.purchaseOverview td, .purchaseOverview th{
    text-align: center;
}

.purchaseOverview td:nth-child(3){
    text-align: center;
}

.purchaseOverview td:nth-child(4){
    text-align: right;
}

.purchaseOverview td:nth-child(4)::after{
    content: " €";
}

.purchaseOverview td:nth-child(5){
    text-align: right;
}

.purchaseOverview td:nth-child(5)::after{
    content: " €";
}

#purchasePage input {
    margin-bottom: 1em;
}

#purchasesPage input {
    margin-bottom: 1em;
}

#purchasePage .react-bootstrap-table td:nth-child(1),
#purchasePage .react-bootstrap-table td:nth-child(2) {
    cursor: pointer;
}
