.outer-align {
    width: 90%;
    height: 90vh;
    display: flex;
}

.inner-align {
    margin: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Courier New', Courier, monospace;
    color: '#050505'
}
