#navbar {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

#navbar a.nav-link{
    color: white;
}

#navbar a.nav-link.active{
    color: green;
}

#navbar a.logo img{
    height: 28px;
    padding-bottom: 2px;
}


.alert-top{
    position: fixed;
    top: 10px;
    left:2%;
    width: 96%;
    z-index: 100;
}
