#navbar {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

#navbar a.nav-link{
    color: white;
}

#navbar a.nav-link.active{
    color: green;
}

#navbar a.logo{
    padding: 0;

}

#navbar a.logo img{
    height: 40px;
    padding-bottom: 4px;
}

@media (max-width: 991px) {
    #navbar a.logo img{
        display: none;
    }
}

.navbar-toggler{
    background-color: white;
}

#saft-upload{
    display: none;
}

#navbarNav li:last-child {
    position: fixed;
    right: 20px;
    top: 9px;
}

#navbarNav li:last-child button {
    color: white;
    background-color: green;
}

#navbarNav li:last-child button:hover {
    color: white;
    background-color: black;
    border: 1px solid green;
}

.alert-top{
    position: fixed;
    top: 10px;
    left:2%;
    width: 96%;
    z-index: 100;
}

#fiscal-year h5{
    color: white;
    position: fixed;
    right: 170px;
    top: 16px;
    margin: 0;
}